.scrollbar-custom {
  overflow: auto;
  height: 100%;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: white;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: white;
}

.dark .scrollbar-custom::-webkit-scrollbar-track {
  background: #27272a;
}

.dark .scrollbar-custom::-webkit-scrollbar-thumb {
  background: #27272a;
}
